<html>
	Choose the kind of information you want to insert.<br/><br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_organization"> Insert organization.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_phone"> Insert organization's phone.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_programs"> Insert program.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_executives"> Insert executive.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_fields"> Insert field.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_researchers"> Insert researcher.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_projects"> Insert project.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_report"> Insert report.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_works_at"> Insert the project that a researcher is working on.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/create/insert_about"> Insert the field that a project is about.</a>
	</par>
	
	<br/>
	<br/>
	<br/>
	<par>
	<a href = "http://127.0.0.1:5000">Go to Welcome.</a>
	</par>
</html>
