<html>
	Choose the kind of information you want to delete.<br/><br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_organization"> Delete organization.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_phone"> Delete organization's phone.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_programs"> Delete program.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_executives"> Delete executive.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_fields"> Delete field.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_researchers"> Delete researcher.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_projects"> Delete project.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_report"> Delete report.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_works_at"> Delete the project that a researcher is working on.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/delete/delete_about"> Delete the field that a project is about.</a>
	</par>
</html>
