<html>

<h4> Give the following information: </h4>
<br/>


Organizations acronym: <input type="text">
<br/><br/>

Category: 	<br/>
			<p class="tab"><input name="a" type="radio" value="uni">	Univerity<br/></p>
			<p class="tab"><input name="a" type="radio" value="comp"> Company<br/></p>
			<p class="tab"><input name="a" type="radio"	value="cntr"> Center<br/></p>
<br/><br/>

Organizations name: <input type="text">
<br/><br/>

Street name: <input type="text">
<br/><br/>

Street number: <input type="text">
<br/><br/>

Postal code: <input type="text">
<br/><br/>

City: <input type="text">
<br/><br/>

<br/>
<input type="submit">

</html>