<html>
{% include "flash_messages.html" %}
<h4> Give the following information: </h4>
<br/>

<form method="POST">
Organizations acronym: <input type="text" name="org">
<br/><br/>

Category: 	<br/>
			<p class="tab"><input name="categ" type="radio" value="Univ">	Univerity<br/></p>
			<p class="tab"><input name="categ" type="radio" value="Comp"> Company<br/></p>
			<p class="tab"><input name="categ" type="radio"	value="Centr"> Centre<br/></p>
<br/><br/>

Organizations name: <input type="text" name="name">
<br/><br/>

Street name: <input type="text" name="street">
<br/><br/>

Street number: <input type="text" name="strnumber">
<br/><br/>

Postal code: <input type="text" name="postal">
<br/><br/>

City: <input type="text" name="city">
<br/><br/>

Equity: (for companies only) <input type="text" name="equity">
<br/><br/>

Funds from ministry: (for universities and researcher centres) <input type="text" name="ffm">
<br/><br/>

Funds from actions: (for research centres only) <input type="text" name="ffa">
<br/><br/>

Phones: <input type="text" name="phone1"> <input type="text" name="phone2">
<br/><br/>


<br/>
<input type="submit" name="form">
</form>

</html>
