<hmtl>

	<h1> <b> Welcome </b> </h1>

		<par> Choose your action: <br/> </par>

		<par><h4> Create: </h4></par>
		<par> Insert information to the database.</par>
		<a href="http://127.0.0.1:5000/create">Create</a>
		<hr/>

		<par><h4> Read: </h4></par>
		<par> Read information from the database.</par>
		<a href="http://127.0.0.1:5000/read">Read</a>
		<hr/>

		<par><h4> Update: </h4></par>
		<par> Update information from the database.</par>
		<a href="http://127.0.0.1:5000/update">Update</a>
		<hr/>

		<par><h4> Delete: </h4></par>
		<par> Delete information from the database.</par>
		<a href="http://127.0.0.1:5000/delete">Delete</a>
		<hr/>


</html>
