<html>
	<table>
				<thead>
	          <tr>
								<th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Number of Projects</th>
                <th></th>
             </tr>
        </thead>
        <tbody>
								{% for researchers in researchers %}
                <tr>

										<td> {{ researchers.researcher_ID}}</td>
                    <td> {{ researchers.first_name }} </td>
                    <td> {{ researchers.last_name }} </td>
										<td> {{ researchers.value }} </td>
									

								{% endfor %}
         </tbody>
    </table>


</html>
