<html>
	<h3>Choose the query:</h3>
	<a href="http://127.0.0.1:5000/read/query1">Query 1</a><br/>
	<a href="http://127.0.0.1:5000/read/query2">Query 2</a><br/>
	<a href="http://127.0.0.1:5000/read/query3">Query 3</a><br/>
	<a href="">Query 4</a><br/>
	<a href="http://127.0.0.1:5000/read/query5">Query 5</a><br/>
	<a href="http://127.0.0.1:5000/read/query6">Query 6</a><br/>
	<a href="http://127.0.0.1:5000/read/query7">Query 7</a><br/>
	<a href="http://127.0.0.1:5000/read/query8">Query 8</a><br/>
</html>
