<html>
	<h3>Choose the query:</h3>
	Find all the programs and researchers based on multiple criteria: <a href="http://127.0.0.1:5000/read/query1">Query 1</a><br/><br/>
	Choose between of two offered views of the database:	          <a href="http://127.0.0.1:5000/read/query2">Query 2</a><br/><br/>
	Find information about a field of interest:<a href="http://127.0.0.1:5000/read/query3">Query 3</a><br/><br/>
	Find which organizations have received the same number of projects in two years in a row, with at least 10 projects annually:<a href="http://127.0.0.1:5000/read/query4">Query 4</a><br/><br/>
	Show the top 3 pairs of fields: <a href="http://127.0.0.1:5000/read/query5">Query 5</a><br/><br/>
	Find the young researchers (with an age smaller than 40 years) with the most active projects:<a href="http://127.0.0.1:5000/read/query6">Query 6</a><br/><br/>
	Show the top 5 executives: <a href="http://127.0.0.1:5000/read/query7">Query 7</a><br/><br/>
	Find the researchers who are working on at least five projects without reports:<a href="http://127.0.0.1:5000/read/query8">Query 8</a><br/><br/>
	
	<br/>
	<br/>
	<par>
	<a href = "http://127.0.0.1:5000">Go to Welcome.</a>
	</par>
</html>
