<html>
{% include "flash_messages.html" %}
<h4> Give the following information: </h4>
<br/>
<br/>

Update is based on the organization's acronym: <br/><br/>
<form method="POST">
Acronym: <input type="text" name="org">
<br/><br/>

Give the new information. Blank fields will NOT be changed!

<br/><br/>
<i>This field is necessary!</i>
<br/><br/>
Category: 	<br/>
			<p class="tab"><input name="categ" type="radio" value="Univ">	Univerity<br/></p>
			<p class="tab"><input name="categ" type="radio" value="Comp"> Company<br/></p>
			<p class="tab"><input name="categ" type="radio"	value="Centr"> Centre<br/></p>
			<p class="tab"><input name="categ" type="radio"	value=""> Do not change<br/></p>
<br/><br/>

Organizations name: <input type="text" name="name">
<br/><br/>

Street name: <input type="text" name="street">
<br/><br/>

Street number: <input type="text" name="strnumber">
<br/><br/>

Postal code: <input type="text" name="postal">
<br/><br/>

City: <input type="text" name="city">
<br/><br/>

Equity: (for companies only) <input type="text" name="equity">
<br/><br/>

Funds from ministry: (for universities and researcher centres) <input type="text" name="ffm">
<br/><br/>

Funds from actions: (for research centres only) <input type="text" name="ffa">
<br/><br/>

<br/>
<input type="submit" name ="form">
</form>
<a href = "http://127.0.0.1:5000">Go to Welcome.</a>

</html>
