<html>
	Choose the kind of information you want to update.<br/><br/>
	<par>
		<a href = "http://127.0.0.1:5000/update/update_organization"> Update organization.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/update/update_programs"> Update program.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/update/update_executives"> Update executive.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/update/update_researchers"> Update researcher.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/update/update_projects"> Update project.</a>
	</par>
	<br/>
	<br/>
	<par>
		<a href = "http://127.0.0.1:5000/update/update_report"> Update report.</a>
	</par>
</html>
