<html>
{% include "flash_messages.html" %}
<h4> Give the following information: </h4>
<br/>
<br/>

Update is based on the researcher's ID: <br/>
<form method="POST">
ID: <input type="text" name="id">
<br/><br/>

Give the new information. Blank fields will NOT be changed!

<br/><br/>

First Name: <input type="text" name="fname">
<br/><br/>

Last Name: <input type="text" name="lname">
<br/><br/>
<i> (You must fill the 'sex' field)</i>
<br/><br/>
Sex: 	<br/>
			<p class="tab"><input name="sex" type="radio" value="M">	Male<br/></p>
			<p class="tab"><input name="sex" type="radio" value="F"> Female<br/></p>
			<p class="tab"><input name="sex" type="radio" value=""> Do not change<br/></p>
<br/><br/>
Date of birth: <input type="date" name="date_birth">
<br/><br/>

Organization's acronym that working at: <input type="text" name="org">
<br/><br/>

Date when start working: <input type="date" name = "work_date">

<br/>
<input type="submit" name ="form">
</form>
<a href = "http://127.0.0.1:5000">Go to Welcome.</a>

</html>
